In [1]:
import numpy as np
import pandas as pd

In [44]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\user\anaconda3\lib\site-packages (0.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (37.0.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.3.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: requests>=2.26 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\user\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\user\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\user\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\user\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\user\anaconda3\lib\site-packages)

In [45]:
import yfinance as yf

In [46]:
btc= yf.Ticker('BTC-USD')

In [47]:
btc_hist= btc.history(period='max')

In [48]:
btc_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-21 00:00:00+00:00,27768.392578,28439.562500,27439.646484,28175.816406,36102192830,0.0,0.0
2023-03-22 00:00:00+00:00,28158.720703,28803.335938,26759.996094,27307.437500,33382021890,0.0,0.0
2023-03-23 00:00:00+00:00,27301.957031,28729.843750,27183.363281,28333.972656,24220433689,0.0,0.0
2023-03-24 00:00:00+00:00,28324.111328,28388.437500,27039.265625,27493.285156,25980310960,0.0,0.0
2023-03-25 00:00:00+00:00,27486.414062,27658.384766,27471.558594,27486.728516,26074308608,0.0,0.0

In [49]:
btc.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [50]:
btc.news

[]

In [51]:
btc_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-21 00:00:00+00:00,27768.392578,28439.562500,27439.646484,28175.816406,36102192830,0.0,0.0
2023-03-22 00:00:00+00:00,28158.720703,28803.335938,26759.996094,27307.437500,33382021890,0.0,0.0
2023-03-23 00:00:00+00:00,27301.957031,28729.843750,27183.363281,28333.972656,24220433689,0.0,0.0
2023-03-24 00:00:00+00:00,28324.111328,28388.437500,27039.265625,27493.285156,25980310960,0.0,0.0
2023-03-25 00:00:00+00:00,27486.414062,27658.384766,27471.558594,27486.728516,26074308608,0.0,0.0

In [52]:
btc_hist.reset_index(inplace=True)

Date cannot be stored in excel straight away therefore we need to convert it into year, month and day and then we can save the file in excel.

In [53]:
btc_hist['year']= pd.to_datetime(btc_hist['Date']).dt.year

In [54]:
btc_hist

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,year
0,2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0,2014
1,2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0,2014
2,2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0,2014
3,2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0,2014
4,2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0,2014
...,...,...,...,...,...,...,...,...,...
3107,2023-03-21 00:00:00+00:00,27768.392578,28439.562500,27439.646484,28175.816406,36102192830,0.0,0.0,2023
3108,2023-03-22 00:00:00+00:00,28158.720703,28803.335938,26759.996094,27307.437500,33382021890,0.0,0.0,2023
3109,2023-03-23 00:00:00+00:00,27301.957031,28729.843750,27183.363281,28333.972656,24220433689,0.0,0.0,2023
3110,2023-03-24 00:00:00+00:00,28324.111328,28388.437500,27039.265625,27493.285156,25980310960,0.0,0.0,2023
3111,2023-03-25 00:00:00+00:00,27486.414062,27658.384766,27471.558594,27486.728516,26074308608,0.0,0.0,2023

In [55]:
btc_hist['month']= pd.to_datetime(btc_hist['Date']).dt.month

In [56]:
btc_hist

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,year,month
0,2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0,2014,9
1,2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0,2014,9
2,2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0,2014,9
3,2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0,2014,9
4,2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0,2014,9
...,...,...,...,...,...,...,...,...,...,...
3107,2023-03-21 00:00:00+00:00,27768.392578,28439.562500,27439.646484,28175.816406,36102192830,0.0,0.0,2023,3
3108,2023-03-22 00:00:00+00:00,28158.720703,28803.335938,26759.996094,27307.437500,33382021890,0.0,0.0,2023,3
3109,2023-03-23 00:00:00+00:00,27301.957031,28729.843750,27183.363281,28333.972656,24220433689,0.0,0.0,2023,3
3110,2023-03-24 00:00:00+00:00,28324.111328,28388.437500,27039.265625,27493.285156,25980310960,0.0,0.0,2023,3
3111,2023-03-25 00:00:00+00:00,27486.414062,27658.384766,27471.558594,27486.728516,26074308608,0.0,0.0,2023,3

In [57]:
btc_hist['day']= pd.to_datetime(btc_hist['Date']).dt.day

In [58]:
btc_hist

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,year,month,day
0,2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0,2014,9,17
1,2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0,2014,9,18
2,2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0,2014,9,19
3,2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0,2014,9,20
4,2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0,2014,9,21
...,...,...,...,...,...,...,...,...,...,...,...
3107,2023-03-21 00:00:00+00:00,27768.392578,28439.562500,27439.646484,28175.816406,36102192830,0.0,0.0,2023,3,21
3108,2023-03-22 00:00:00+00:00,28158.720703,28803.335938,26759.996094,27307.437500,33382021890,0.0,0.0,2023,3,22
3109,2023-03-23 00:00:00+00:00,27301.957031,28729.843750,27183.363281,28333.972656,24220433689,0.0,0.0,2023,3,23
3110,2023-03-24 00:00:00+00:00,28324.111328,28388.437500,27039.265625,27493.285156,25980310960,0.0,0.0,2023,3,24
3111,2023-03-25 00:00:00+00:00,27486.414062,27658.384766,27471.558594,27486.728516,26074308608,0.0,0.0,2023,3,25

In [61]:
btc_hist.drop('Date',axis=1,inplace=True)

In [62]:
btc_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,year,month,day
0,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0,2014,9,17
1,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0,2014,9,18
2,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0,2014,9,19
3,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0,2014,9,20
4,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0,2014,9,21
...,...,...,...,...,...,...,...,...,...,...
3107,27768.392578,28439.562500,27439.646484,28175.816406,36102192830,0.0,0.0,2023,3,21
3108,28158.720703,28803.335938,26759.996094,27307.437500,33382021890,0.0,0.0,2023,3,22
3109,27301.957031,28729.843750,27183.363281,28333.972656,24220433689,0.0,0.0,2023,3,23
3110,28324.111328,28388.437500,27039.265625,27493.285156,25980310960,0.0,0.0,2023,3,24
3111,27486.414062,27658.384766,27471.558594,27486.728516,26074308608,0.0,0.0,2023,3,25

In [63]:
btc_hist.to_excel('../DATA/bitcoin.xlsx')

Bitcoin data has been extracted in DATA folder.